Tema 3 - XML/ExU4-ChristianCastilloDíaz/Ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name='series'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='serie' maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name='titulo' type="xs:string"/>
                            <xs:element name='fechaEstreno' type='xs:date'/>
                            <xs:element name='numTemporadas'>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="50"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name='genero'>
                            <xs:simpleType>
                                <xs:restriction base='xs:string'>
                                    <xs:enumeration value='comedia'/>
                                    <xs:enumeration value='drama'/>
                                    <xs:enumeration value='ciencia ficcion'/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>