Tema 3 - XML/facetaAtributos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="producto">
    <xs:complexType>

      <!-- length -->
      <xs:attribute name="codigo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- minLength / maxLength -->
      <xs:attribute name="nombre">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- totalDigits -->
      <xs:attribute name="cantidad">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- fractionDigits -->
      <xs:attribute name="precio">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- minExclusive -->
      <xs:attribute name="edadMin">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minExclusive value="17"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- maxExclusive -->
      <xs:attribute name="descuento">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:maxExclusive value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- minInclusive -->
      <xs:attribute name="iva">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- maxInclusive -->
      <xs:attribute name="garantia">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:maxInclusive value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- enumeration -->
      <xs:attribute name="categoria">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="informatica"/>
            <xs:enumeration value="hogar"/>
            <xs:enumeration value="oficina"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- whiteSpace -->
      <xs:attribute name="marca">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

      <!-- pattern -->
      <xs:attribute name="emailProveedor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value=".+@.+\..+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>

    </xs:complexType>
  </xs:element>

</xs:schema>
